/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: left;
  align-items: start;
  padding: 40px 0 0 20px;
  height: 100vh;
}

/* Container to align input and button */
.app-container {
  display: flex;
  flex-direction:column;
  gap: 0px;
}

#taskContainer {
  width:190px;
  height:max-content;
  background-color:lightgrey;
  padding:2px;
  flex-wrap:wrap;
  display:flex;
  font-size:.45rem;
  gap:2px;
  box-sizing:border-box;
}


#taskDisplay {
  font-size:.4rem;
  width:190px;
  height:max-content;
  background-color:lightgrey;
  margin-top:4px;
  padding:0px 8px 8px 2px;
  line-height: 1.3;
  box-sizing:border-box;
}

#taskDisplayTitle {
  font-size:.45rem;
  width:190px;
  height:max-content;
  background-color:lightgrey;
  margin-top:4px;
  padding:8px 8px 0 2px;
  gap:2px;
  box-sizing:border-box;
}


.taskCounter {
  width:max-content; height:12px;
  background-color:white;
  border: 1px solid grey;  
  border-radius: 2px;
  display:flex;
  align-items:center;
  justify-content:start;
  padding-left:6px;
  padding-right:6px;
  cursor:pointer;
}

.taskCounterSubmit {
  width:40px;
  height:12px;
  background-color:white;
  border: 1px solid grey;  
  border-radius: 2px;
  margin:0px 0px 0 0;
  display:flex;
  align-items:center;
  justify-content:start;
  padding-left:6px;
  padding-right:6px;
  cursor:pointer;
}

.taskCounterClear {
  width:66px;
  height:12px;
  background-color:white;
  border: 1px solid grey;  
  border-radius: 2px;
  margin:0px 0px 0 0px;
  display:flex;
  align-items:center;
  justify-content:start;
  padding-left:6px;
  padding-right:6px;
  cursor:pointer;
}

.taskCounter.selected {
  background: #4caf50; /* green */
  color: white;
}

#taskActions {
  width:190px;
  height:12px;
  display:flex;
  margin:24px 0 0 0;
  gap:40px;
}

#taskContainerStats {
  width:190px;
  height:max-content;
  background-color:lightgrey;
  padding:2px;
  flex-wrap:wrap;
  display:flex;
  font-size:.45rem;
  gap:0px;
  box-sizing:border-box;
}
