/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  display: flex;
  justify-content: left;
  align-items: start;
  padding: 40px 5vw 0 5vw;
  height: 100vh;
  color: white;
}

/* Container to align input and button */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#sobrietyTracker {
  font-size:.6rem;
}

#sobrietyContainer {
  padding-bottom:8px;
}

#resetSobriety {
  padding: 2px 6px 2px 6px;
  font-size: 8px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size:.6rem;
  border:1px solid white;
  box-sizing:border-box;
}

#taskContainer {
  width: 90vw;
  height: max-content;
  background-color: #272c33;
  padding: 2px 2px 26px 2px;
  flex-wrap: wrap;
  display: flex;
  font-size: 0.8rem;
  gap: 2px;
}

#taskDisplay {
  font-size: 0.7rem;
  font-weight: 200;
  width: 90vw;
  height: max-content;
  background-color: #272c33;
  margin-top: 4px;
  padding: 0px 8px 8px 16px;
  line-height: 1.3;
  box-sizing: border-box;
}


#taskDisplayTitle {
  font-size: 0.7rem;
  width: 190px;
  height: max-content;
  margin-top: 4px;
  padding: 8px 8px 0 12px;
  gap: 2px;
  box-sizing: border-box;
}

.taskCounter {
  width: max-content;
  height: 24px;
  background-color: #444857;
  border: 1px solid grey;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.taskCounterSubmit {
  width: max-content;
  height: 24px;
  background-color: #444857;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 0px 0px 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.taskCounterClear {
  width: 120px;
  height: 24px;
  background-color: #444857;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 0px 0px 0 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.taskCounter.selected {
  background: #4caf50; /* green */
  color: white;
}

#taskActions {
  width: 90vw;
  height: 12px;
  display: flex;
  margin: 40px 0 0 0;
  gap: 30px;
}

#taskContainerStats {
  width: 90vw;
  height: max-content;
  background-color: #272c33;
  padding: 2px;
  flex-wrap: wrap;
  display: flex;
  font-size: 0.8rem;
  gap: 2px;
  margin: 0px 0 0 0;
  box-size: border-box;
}

.fire-icon {
  font-size: 12px;
  animation: firePulse 0.9s infinite alternate;
  filter: drop-shadow(0 0 6px orange);
}

@keyframes firePulse {
  from {
    transform: scale(1);
    filter: drop-shadow(0 0 4px orange);
  }
  to {
    transform: scale(1.25);
    filter: drop-shadow(0 0 10px red);
  }
}

.task-timestamp-row {
  font-size: 0.55rem;
  font-weight: 100;
  padding: 4px;
  box-sizing: border-box;
  background-color: #272c33;
  padding: 16px;
}

#taskTimestampsContainerTitle {
  font-size: 0.8rem;
  padding-top: 8px;
}

#taskContainerStats {
  display: flex;
}
