/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: left;
  align-items: start;
  padding: 40px 5vw 0 5vw;
  height: 100vh;
}

/* Container to align input and button */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#taskContainer {
  width: 90vw;
  height: max-content;
  background-color: lightgrey;
  padding: 2px 2px 26px 2px;
  flex-wrap: wrap;
  display: flex;
  font-size: 0.8rem;
  gap: 2px;
}

#taskDisplay {
  font-size: 0.4rem;
  width: 90vw;
  height: max-content;
  background-color: lightgrey;
  margin-top: 4px;
  padding: 0px 8px 8px 2px;
  line-height: 1.3;
  box-sizing: border-box;
}

#taskDisplayTitle {
  font-size: 0.8rem;
  width: 190px;
  height: max-content;
  background-color: lightgrey;
  margin-top: 4px;
  padding: 8px 8px 0 2px;
  gap: 2px;
  box-sizing: border-box;
}

.taskCounter {
  width: max-content;
  height: 24px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.taskCounterSubmit {
  width: max-content;
  height: 24px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 0px 0px 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

.taskCounterClear {
  width: 120px;
  height: 24px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 0px 0px 0 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.taskCounter.selected {
  background: #4caf50; /* green */
  color: white;
}

#taskActions {
  width: 90vw;
  height: 12px;
  display: flex;
  margin: 40px 0 0 0;
  gap: 40px;
}

#taskContainerStats {
  width: 90vw;
  height: max-content;
  background-color: lightgrey;
  padding: 2px;
  flex-wrap: wrap;
  display: flex;
  font-size: 0.8rem;
  gap: 2px;
  margin: 0px 0 0 0;
}
